WORDPRESS_PORT=8888
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=wordpress
WORDPRESS_DB_ROOT_PASSWORD=wordpress
WORDPRESS_TABLE_PREFIX=wp_
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=password
WORDPRESS_ADMIN_EMAIL=admin@example.com
WORDPRESS_SITE_TITLE=Surge Local
